<h1>Cliente - <%= @cliente.nome %></h1>
<%= link_to 'Editar', edit_cliente_path(@cliente) %> | <%= link_to 'Trocar senha', edit_cliente_registration_path %> |

<p>
  <strong>Endereço:</strong>
  <%= @cliente.endereco %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cliente.telefone %>
</p>

<p>
  <strong>Data de nascimento:</strong>
  <%= @cliente.dataNascimento.nil? ? @cliente.dataNascimento :  @cliente.dataNascimento.strftime('%d/%m/%Y')  %>
</p>

<fieldset><legend><h3>Contas:</h3></legend>
  <table>
    <thead>
    <tr>
      <th>Descricao</th>
      <th>Codigo</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @cliente.contas.each do |conta| %>
        <tr>
          <td><%= conta.descricao %></td>
          <td><%= conta.codigo %></td>
          <td><%= link_to 'Show', cliente_conta_path(@cliente, conta) %></td>
          <td><%= link_to 'Edit', edit_cliente_conta_path(@cliente, conta) %></td>
          <td><%= link_to 'Saldo', cliente_conta_saldo_show_path(@cliente, conta) %></td>
          <td><%= link_to 'Extrato', cliente_conta_extrato_show_path(@cliente, conta) %></td>
          <!--<td><%= link_to 'Destroy', cliente_conta_path(@cliente, conta), method: :delete, data: { message: 'Are you sure?' } %></td>-->
          <td><%= link_to 'Saque', new_cliente_conta_movimentacao_path(@cliente, conta, :tipo => 'S') %></td>
          <td><%= link_to 'Transferência', new_cliente_conta_movimentacao_path(@cliente, conta, :tipo => 'T') %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to '+ Nova Conta', new_cliente_conta_path(@cliente.id) %>
</fieldset>